{% extends 'base.html' %} 
{% load static %} 
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}"> 
{% endblock %} 
{% block title %}EventBrite{% endblock %} 
{% block content %}
<div class="mainimg">
    <div id="login-link" class="txt">Get Influenced</div>
</div>
{% endblock %} 
{% block js %}
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("header").style.background = "rgba(0, 0, 0, 0)";
        } else {
            document.getElementById('header').style.background = "rgba(0, 0, 0, 0.30)";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
{% endblock %}
